.navbar-brand{
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.navbar-brand-logo{
    height: 45px;
    margin-right: 8px;
}

.dropdown-item{
    background-color: transparent!important;
    color: black!important;
}